*{
    margin: 0;
    padding: 0;
}
#on-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#on-top img{
    height:8em;
    width:7em;
}
#top-icons{
    display: flex;
    margin-right: 1em;
}
#account-icon{
    margin-right: 0.5em;
}
.carousel-item img {
    max-width: 30em;
    max-height: 30em;
    object-fit: cover; 
}
#carouselExampleDark {
    height: 35em;
  }

h1{
    text-align: center;
    padding-top: 1em;
}
.watchCard{
    max-width: 25em;
    border: 1px  solid #093312;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}
.watchCard:hover {
    transform: scale(1.02);
  }
