*{
    margin: 0;
    padding: 0;
}
#on-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#on-top img{
    height:8em;
    width:7em;
}
#top-icons{
    display: flex;
    margin-right: 1em;
}
#account-icon{
    margin-right: 0.5em;
}
.carousel-item img {
    max-width: 30em;
    max-height: 30em;
    object-fit: cover; 
}
#carouselExampleDark {
    height: 35em;
  }

h1{
    text-align: center;
    padding-top: 1em;
}
#abou-us p{
    padding-right: 10em;
    padding-left: 10em;
}
#faq p{
    padding-right: 10em;
    padding-left: 10em;
}
.watchCard{
    max-width: 25em;
    border: 2.5px  solid #093312;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}
.watchCard:hover {
    transform: scale(1.02);
  }
#about-us-images{
    display: flex;
    justify-content: space-between;
    margin: 3em 10em;
}
#about-us-images img{
    width: 30%;
    height: auto;
}
#contact-form-window{
    padding-top: 4em;
    padding-bottom: 4em;
}
h2{
    text-align: center;
    padding-top: 1em;
}